# https://github.com/direnv/direnv/issues/592
layout_poetry() {
	if ! direnv_load poetry run direnv dump; then
		log_error "failed to enter Poetry env, do you need 'poetry install'?"
		return 2
	fi
}

layout_poetry
